.App {
  align-items: center;
  justify-content: center;
}
html {
  background-color: #f2eae4;
  display: flex;
  justify-content: center;
}
.changeButton {
  transform: scale(1.5);
  border: none;
  border-radius: 5px;
  margin-top: 3vh;
  background-color: transparent;
  font-size: 3vh;
  margin-left: 5vw;
}
.weather {
  transform: scale(1.5);
  border: none;
  border-radius: 5px;
  margin-top: 3vh;
  background-color: transparent;
  font-size: 3vh;
  margin-right: 5vw;
}
.center_ {
  display: flex;
  justify-content: center;
}
.topbox {
  display: flex;
  justify-content: space-around;
  width: 40vw;
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
body {
  font-family: "Nanum Pen Script";
}
.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.todo-add input[type="text"]::placeholder {
  font-family: "Nanum Pen Script", cursive;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.todo-add input[type="text"] {
  width: 41vw;
  height: 3.5vh;
  margin-right: 0.5vh;
  font-size: 2vh;
  border-radius: 8px;
  border: none;
  background-color: #eff2e4;
  margin-bottom: 3vh;
}
.todo-add input[type="text"]::placeholder {
  text-indent: 1.5vh;
}

.todo-add input[type="submit"] {
  width: 3vw;
  height: 3.5vh;
  font-size: 2vh;
  border-radius: 8px;
  border: none;
  background-color: #cbd9c5;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
