.App{
    border: 1px solid black;
    width:500px;
    padding:40px;
    padding-bottom:50px;
    margin-top:100px;
    background-color:white;
    border-radius:10px;
}
.todo-item{
    font-size:15px;
    border: 1px solid black;
    border-radius:5px;
    padding:3px;
    margin:5px;
    margin-left:30px;
    margin-right:70px;
}
.todo-item input[type=checkbox]:checked~span{
    text-decoration:line-through;
}

.header{
    font-size:50px;
    text-align:center;
}
.todo-add{
    display:flex;
    justify-content:center;
}
#input1{
    font-size:15px;
    text-align:center;
    width:300px;
    height:30px;
    background-color:white;
    border:3px solid black;
    border-radius:5px;
}
#input2{
    width:50px;
    height:38px;
    margin-left: 4px;
    font-size:15px;
    text-align:center;
    background-color:pink;
    border:3px solid black;
    border-radius:5px;
}