body {
    background-color:#FFC700;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#rock, #paper,#scissors {
    background-color:#FFFFFF;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 10px 30px 10px;
    height: 50px;
    width: 15%;
    border: none;
    border-radius: 10px;
}

#reset {
    background-color: #FFC700;
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 30px 10px;
    height: 50px;
    width: 15%;
    border: none;
    border-radius: 10px;
}

#reset:hover {
    color: white;
}

.reset {
    display: flex;
    justify-content: center;
}

#rock:hover, #paper:hover,#scissors:hover {
    background-color: black;
    color: white;
}

#title {
    margin: auto;
    margin-top: 50px;
    display: block;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
}

.computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
}


#playerType {
    font-size: 50px;
}

.score {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result {
    display: flex;
    align-items: center;
    font-size: 100px;
    color: #000000;
}

#playerImage, #computerImage {
    width: 70%;
}