.row__poster {
  object-fit: contain; /*비율 유지*/
  width: 100%;
  max-height: 100px;
  transition: transform 450ms; /*전환되는 속도, 여기선 커지는 속도*/
  margin-right: 10px;
}

.row__poster:hover {
  transform: scale(1.08); /*커지는 정도*/
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
